.Line{
    background-color:#494949;
    width:1px;
    height:1em;
    margin-top:0.5em;
    margin-bottom:0.5em;
}
.SocialBtn{
    margin-right: 5rem;
    margin-left: 5rem;
}
.SocialBtn:hover{
    opacity: 0.5;
}

.LineHorizontal{
    background-color:#494949;
    width:10em;
    height:1px;
    margin-top:0.5em;
    margin-bottom:0.5em;
}
@media only screen and (max-width:800px) {
    .SocialBtn{
        margin-right: 1rem;
        margin-left:1rem;
    }
    .LineHorizontal{
        width:5rem;
    }
    
}