.Line{
    background-color:#494949;
    width:1px;
    height:1em;
    margin-top:0.5em;
    margin-bottom:0.5em;
}

.Video{
    background-color:#000000;
    aspect-ratio: 16/9;
    width: 90%;
    border-radius:0.4em;
}