.Video{
    background-color:#000000;
    width: 80%;
    aspect-ratio: 16/9;
    border-radius:0.4em;
    
}
.Line{
    background-color:#494949;
    width:1px;
    height:1em;
    margin-top:0.5em;
    margin-bottom:0.5em;
}
.CardScroll{
    width: 40%;
    height: screen;
    padding-top: 10vh;
}
.CardScroll::-webkit-scrollbar{
    display: none;
}
.videoContainer{

    position: sticky;
    top:0;
    width:60%;
    height:62vh;
    margin-top:5vh;
    padding:10px;
    display:flex;
    justify-content:center;
}

@media screen and (max-width: 800px) {
    .videoContainer{
        display: none;
    }
    .Video{
        display: none;
    }
    .CardScroll{
        display: flex;
        width: 100%;
        flex-direction: column;
        align-items:center;
    }
}